#formBody{
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 10px;
}

div#mainbody {
    max-width: 1200px;
}

/* div#header {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    background: rgba(256,256,256,.8);
    width: 100%;
    max-width: 992px;  
    z-index: 10;
    box-shadow: 0 0 10px #ccc;
}   */

.headRow {
	display: inline-block;
    max-height: 160px;
    max-width: 1200px;
    margin: 15px 0;
    width: 100%;
}

.menuCollapse {
    width: 100%;
    background: rgba(256,256,256,.9);
    border: none;
    margin-top: auto;
}

div#footerDropdown {
    display: inline-block;
    width: 100%;
    margin-top: 25px;
}

/* .menuCollapse.collapsed, .menuCollapse.collapsed:hover, div#footerDropdown.collapsed:hover, div#menuDropdown.collapsed:hover {background:none;}
*/
div#footerDropdown:hover, div#menuDropdown:hover {
    background: rgba(256,256,256,.9);
}

div.menuCollapse img {
    margin: 5px 0;
}

/* .menuCollapse:hover, .menuCollapse:active, .menuCollapse:focus, .menuCollapse:active:focus, .menuCollapse:active:hover {
    background:none;
    border:none;

}
*/
div#menuContainer {
 /*   display: inline-block;  */
    width: 85%;
    float: left;
    background: rgba(256,256,256,.95);
/*    padding-top: 25px;  */
}

div#menuDropdown.menuCollapse.collapsed img {
    transform: rotate(0deg) !important;
    -webkit-transform: rotate(0deg) !important;
    -ms-transform: rotate(0deg) !important;
}

div#footerDropdown.menuCollapse.collapsed img {
    transform: rotate(0deg) !important;
    -webkit-transform: rotate(0deg) !important;
    -ms-transform: rotate(0deg) !important;
}

ul.menuMain {
    float: left;
    width: 100%;
    padding-left: 0;
    font-weight: 600;
}

ul.menuMain li {
    display: inline-block;
    margin: 5px 0 5px 0;
    padding-left: 10px;
    text-align: center;
}

div#signIn, #logIn {
    float: right;
    margin-top: 25px;
}

div#signIn a {
    display: block;
}

div#signIn img {
    max-height: 25px;
}

#docheaderdiv{margin-top: 20px;}

#footerPanel {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
}

#footerPanel, #docheaderdiv{ 
/*	display:inline;  */
    background: rgba(256,256,256,.9);
	}

div.rowTitle{
    float:left;
    margin-right:15px;
    margin-top: 15px;
}

.iconRow {
	display: inline-block;
    max-height: 160px;
    max-width: 1200px;
    margin: 0;
    width: 100%;
    margin-bottom: 50px;
    overflow: hidden;
    border-top:2px solid #B41601;
    box-shadow: 2px 2px 15px #BFBFBF inset;
    border-radius: 0 0 10px 10px;
}

div.iconRow > ul > li {
	max-width: 80px;
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
/*    float: left;  */
	}

div.iconRow > ul > li > img {
    width: auto;
    max-width: 80px;
    margin-left: 10px;
    margin-bottom: 10px;
}

div.iconRow > ul > li h4 {
    margin: auto;
    text-align: center;
    width: 100px;
    font-size: 14px;
}

ul.row.sideScroll {
    white-space: nowrap;
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    float: left;
}

a#left-button {
    float: left;
    position: absolute;
    height: 160px;
    padding-top: 50px;
    padding-left: 10px;
    background: rgba(255,255,255,.8);
    z-index: 999;
}

a#right-button {
    float: left;
    position: absolute;
    height: 160px;
    padding-top: 50px;
    padding-left: 10px;
    background: rgba(255,255,255,.8);
    z-index: 999;
    /* top: 0; */
    /* right: 0; */
    vertical-align: top;
}

li#signIn {
    white-space: nowrap;
    float: right;
}

#searchBar {
    float: right;
    margin-top: 20px;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    padding-left: 10px;
    position: absolute;
}

input#searchSubmit {
    height: 40px;
    width: 40px;
    border-radius: 0 20px 20px 0;
    -webkit-border-radius: 0 20px 20px 0;
    -moz-border-radius: 0 20px 20px 0;
    margin-top: 20px;
    padding-top: 5px;
    float: right;
    position: relative;
}

input.form-submit {
    background-image: url(../img/search.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    color: transparent;
/*    background-color: rgba(95,151,207,0.95);  */
    background-color: #B41601;
}

#logo {
/*    float: left;  */
    margin-top: 15px;
/*    margin-right: 25px;  */
}

img.homeBtn {
    max-width: 75px;
}

#Title {
    text-align: center;
    margin-top: 25px;
    font-size: 18px;
}

span.JnJ {
    width: 100%;
    font-weight: bold;
    color: #ff0000;
}

a.backbtn {
    float: left;
    height: 60px;
    padding: 20px;
    display: block;
    color: #000;
}

a.backbtn img {
    padding-right: 10px;
}

.row {
	padding:10px 0;
	margin: 0;
	width:100%;
}

div#footer {
/*    position: fixed;  */
    bottom: 0;
    left: 0;
    margin: auto;
/*    background: rgba(256,256,256,.9);  */
    width: 100%;
/*    max-width: 992px;  */
    padding-left: 0;
    padding-right: 0;
/*    box-shadow: 0 0 10px #ccc;  */
}

.copy, .privacy, .legal {
    color:#3759A4;
    font-size: 11px;
    font-weight: bold;

}

.copy {
    text-align: center;  
}

.privacy {
    float: left;
    text-align: left;  
}

.legal {
    float: right;
    text-align: right; 
}

.clear {
    clear: both;
}

div#footerPanel > div > ul > li {list-style: none;}

ul.menuFoot div.form-group {
    margin-bottom:0;
    max-width: 90%;
}

ul.menuFoot {
    border-bottom: 0;
    border-right: 1px solid #ccc;
    padding-bottom: 10px;
    padding-left: 0px;
}

ul.menuFoot.last {border-right: none;}

ul.menuFoot li a {
    color: #3759A4;
}

ul.menuFoot li a:hover {
    text-decoration: underline;
}

a.tidyfullbutton{
    background-image:url('../img/fullcombined.png');
}

a.tidyzoominbutton{
    background-image:url('../img/zoomincombined.png');
}

a.tidyzoomoutbutton{
    background-image:url('../img/zoomoutbuttoncombined.png');
}

a.tidyheartbutton, a.tidysharebutton {float:left;}

a.tidyfullbutton, a.tidyzoominbutton, a.tidyzoomoutbutton {
    background-position:0 0;
    display: block;
    width: 32px;
    height: 32px;
    float: right;
    background-repeat: no-repeat;
    }

div.tidymessage {
    font-size: 10px;
    left: 135px;
    position: absolute;
    text-align: center;
    width: 50%;
    float: left;
}


div.tidytoolbar {
    padding-right: 0;
}

div#tidytoolbar0 a {
    margin-right: 5px;
}

div#PdfPage {
    border: 1px solid;
    padding: 0;
    background-color: #ccc;
    margin-top: 10px;
    overflow: hidden;
    height: 625px;
}

img.DocImg {width:100%;}

div.tidyscroll {
    border-left: 1px solid #000;
    padding: 0;
/*    background-color: #FFF;  */
}

ul.multipageScroll li img {
    margin-top: 10px;
}

ul.multipageScroll li h4 {
    font-size: 12px;
}

ul.multipageScroll {
    list-style: none;
    text-align: center;
    padding-left: 0;
    height: 700px
}

/***  SETUP PAGE  ***/

.setupBtn {
    float:left;
    margin-right: 5px;
    margin-top: -16px;
}

 div#setupBlock {
/*    margin: 20px 10px;
    border: 1px solid #000;
    border-radius: 10px; */
} 

div.setCont {
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    padding: 10px 0;
}

div.setupCont {
    margin-left: 25px;
    padding: 0 10px 0 0;
}

div.setupCont.first {
    position: absolute;
    top: 10;
    background: #fff;
    width: inherit;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

div.setupCont div.form-group {
    margin: 0;
    max-width: 80%;
}

div.storageSelection {
    width: 100%;
    margin: 15px;
    background: #ccc;
    margin-left: 0;
    height: 200px;
    border: 1px solid #656565;
    box-shadow: 0px 0px 10px #656565 inset;
    border-radius: 5px;
}

div.subCont {
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    padding: 10px 20px;
}

div.setCont, div.subCont {
    box-shadow: 3px 3px 10px #ccc;
    height: 100%;
    max-height: 400px;
}

/*****   MOBILE MENU  *****/

#nav-toggle { 
    display: none;
    position: absolute; 
    right: 50px; 
    top: 50px;
    z-index:11;
}

#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 35px;
  background: #000;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}


/*****  TAB TESTING  *****/

.nav-tabs {border-bottom: none;}

.nav-tabs > li > a:hover {color:#B41601;}

.nav-tabs > li > a {
    color:#fff;
    border: 1px solid transparent;
    border-radius: 0 0 4px 4px;
    background-color: #E6E6E6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#CCCCCC));
    background-image: -webkit-linear-gradient(top, #E6E6E6, #CCCCCC);
    background-image: -moz-linear-gradient(top, #E6E6E6, #CCCCCC);
    background-image: -ms-linear-gradient(top, #E6E6E6, #CCCCCC);
    background-image: -o-linear-gradient(top, #E6E6E6, #CCCCCC);
    background-image: linear-gradient(to bottom, #E6E6E6, #CCCCCC);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E6E6E6, endColorstr=#CCCCCC);
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, input#update, input#done {
    color:#fff;
    display: block;
    border: 1px solid #B41601;
    border-top-color: transparent;
    background-color: #B41601; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#B41601), to(#d20202));
    background-image: -webkit-linear-gradient(top, #B41601, #d20202);
    background-image: -moz-linear-gradient(top, #B41601, #d20202);
    background-image: -ms-linear-gradient(top, #B41601, #d20202);
    background-image: -o-linear-gradient(top, #B41601, #d20202);
    background-image: linear-gradient(to bottom, #B41601, #d20202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#B41601, endColorstr=#d20202);
}

/***  DOC INFO  ***/

h2.infoTitle {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    text-decoration: underline;
}

.docTitle {
/*    margin-bottom: 15px;  */
    border-bottom: 2px solid #B41601;
    font-size: 16px;
    font-weight: 600;
}

div.DocInfo {
    margin-top: 10px;   
}

div.DocInfo p {
    padding-left: 10px;
}

.docInfoCont {
    margin-bottom: 20px;
    margin-left: 20px;
}

div#setupSubmit {
    margin-bottom: 25px;
}

div#setupSubmit input {
    float: right;
    margin-right: 10px;
    border-radius: 10px;
    height: 30px;
}

/*** MEDIA QUERIES  ***/

@media (max-width: 767px) {

#nav-toggle { 
    display: block;
}

div#menuContainer {
    width: 100%;
    position: absolute;
    z-index: 10;
    left: 0;
    padding: 25px 0 25px 25px;
    box-shadow: 0 0 15px #444;
}

div#menuContainer:before {
  top: -1000px; 
}
div#menuContainer:after {
  bottom: -10px;
}

div#menuContainer, div#menuContainer:before, div#menuContainer:after {
  transition: all 500ms ease-in-out;
}
div#menuContainer {
  top:-1000px;
  height: 100%;

}

div#menuContainer.active {
  top: 0;
}

#logo{text-align: center;}

li#signIn {
    float: none;
}

div#footer.container {
    width: 100% !important;
}

div.setupCont.first {
    top: -10;
}

div.tidytoolbar {
    padding-right: 0;
}

.iconRow {margin-bottom: 25px;}

div#mainbody {
/*    margin-bottom: 75px;  */
}

#searchBar {
    width: 100%;
}

div#signIn, #logIn {
    float: left;
    width: 100%;
    padding-right: 55px;
    padding-left: 10px;
}

ul.menuFoot {
    border-bottom: 1px solid #ccc;
    border-right: 0;
    padding-bottom: 10px;
}

ul.menuFoot li h3 {
    margin-top: 0px;
}

ul.menuFoot.last {border-bottom: none;}

.privacy, .legal {text-align: center;}

}



@media (max-width: 970px) {

#searchBar{width: 100%;}

div#menuContainer {
width: 100%;
}

.iconRow {margin-bottom: 25px;}

div#PdfPage  {
    margin-top: 50px;
    height: auto;
}

ul.multipageScroll {
    list-style: none;
    text-align: center;
    padding-left: 0;
    height: 100%;
    max-height: 120px;
    white-space: nowrap;
}

ul.multipageScroll li {
    display: inline-block !important;
    border-left:0;
}


div.tidytoolbar {
    margin-bottom:50px;
    }

 div.tidyscroll {
    border-left: 0;
    margin-top: 10px;
    border-top: 1px solid #000;
    height: 150px;
    overflow-x: scroll;
    }
}

@media (max-width: 1170px) {
 #searchBar {
    width: 100%;
}

div#search {
    padding-right: 0;
    padding-left: 0;
}

div.tidytoolbar {
    margin-bottom:50px;
    }

ul.multipageScroll li {
    display: inline-block !important;
    padding: 0 10px;
    }

div.setCont {
    padding: 20px 0;
}

div.setupCont div.form-group {
     max-width: 95%;
}
}

@media (min-width: 970px) {

div#menuContainer {
    width: 100%;
}

div.tidyscroll {
    border-left: 0;
    margin-top: 0;
    overflow-y: scroll;
    border-left: 1px solid #000;
}

div.setupCont div.form-group {
     max-width: 80%;
}

} 


@media (min-width: 1170px) {
    
}

@media (min-width: 768px) and (max-width: 991px) {
    div.setupCont.first {
    top: -10;
}

ul.multipageScroll {
    list-style: none;
    text-align: center;
    padding-left: 0;
    height: 100%;
    max-height: 120px;
    white-space: nowrap;
}

}

@media (min-width: 992px) and (max-width: 1199px) {
    div.setupCont.first {
    top: 10;
}

}

